xsd/PortType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by Jan Krause (Institut für Automation und Kommunikation e.V) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="UUID.xsd"/>
	<xs:complexType name="PortType">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="uuid" type="UUID" use="required"/>
	</xs:complexType>
</xs:schema>
